body {
  font-size: getBaseFont("font-size");
  font-family: getBaseFont("font-family");
  font-weight: getBaseFont("font-weight");
  line-height: getBaseFont("line-height");
  color: getBaseFont("color");
  background-color: getColor("grey-light-200");
  width: 100vw;
}

// Dark Mode
@include dark-mode {
  body {
    color: getColor("light");
    background-color: getColor("primary-color");
  }
}
